<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello <%= @user.name %></P>

    <h4>Welcome to Job Portal web-app</h4>

    <p>
      You have successfully applied for job.</p>

    <p>
      We will inform you for further process by mail.
    </p><br>

    <p>Thanks for applying and have a good day!</p>

  </body>
</html>
