<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello <%= @user.name %></P>

    <h4>Welcome to Job Portal web-app</h4>

    <p>
      You have successfully applied for job.</p>

    <p>
      To login to the site, just follow this link: http://127.0.0.1:3000/user_login.
    </p><br>

    <p>Thanks for applying and have a good day!</p>
    
  </body>
</html>